remoting/fr.opensagres.xdocreport.remoting.resources/src/main/wsdl/JAXWSResourcesServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="JAXWSResourcesServiceService" targetNamespace="http://ws.services.resources.remoting.xdocreport.opensagres.fr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.services.resources.remoting.xdocreport.opensagres.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
<import namespace="http://ws.services.resources.remoting.xdocreport.opensagres.fr/" schemaLocation="JAXWSResourcesServiceService_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="getRootWithFilter">
    <wsdl:part name="parameters" element="tns:getRootWithFilter">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNameResponse">
    <wsdl:part name="parameters" element="tns:getNameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getName">
    <wsdl:part name="parameters" element="tns:getName">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRootWithFilterResponse">
    <wsdl:part name="parameters" element="tns:getRootWithFilterResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="upload">
    <wsdl:part name="parameters" element="tns:upload">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRootResponse">
    <wsdl:part name="parameters" element="tns:getRootResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="downloadMultipleResponse">
    <wsdl:part name="parameters" element="tns:downloadMultipleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRoot">
    <wsdl:part name="parameters" element="tns:getRoot">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="download">
    <wsdl:part name="parameters" element="tns:download">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="downloadResponse">
    <wsdl:part name="parameters" element="tns:downloadResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="downloadMultiple">
    <wsdl:part name="parameters" element="tns:downloadMultiple">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadResponse">
    <wsdl:part name="parameters" element="tns:uploadResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ResourcesService">
    <wsdl:operation name="upload">
      <wsdl:input name="upload" message="tns:upload">
    </wsdl:input>
      <wsdl:output name="uploadResponse" message="tns:uploadResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRoot">
      <wsdl:input name="getRoot" message="tns:getRoot">
    </wsdl:input>
      <wsdl:output name="getRootResponse" message="tns:getRootResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getName">
      <wsdl:input name="getName" message="tns:getName">
    </wsdl:input>
      <wsdl:output name="getNameResponse" message="tns:getNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadMultiple">
      <wsdl:input name="downloadMultiple" message="tns:downloadMultiple">
    </wsdl:input>
      <wsdl:output name="downloadMultipleResponse" message="tns:downloadMultipleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="download">
      <wsdl:input name="download" message="tns:download">
    </wsdl:input>
      <wsdl:output name="downloadResponse" message="tns:downloadResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRootWithFilter">
      <wsdl:input name="getRootWithFilter" message="tns:getRootWithFilter">
    </wsdl:input>
      <wsdl:output name="getRootWithFilterResponse" message="tns:getRootWithFilterResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JAXWSResourcesServiceServiceSoapBinding" type="tns:ResourcesService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="upload">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="upload">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="uploadResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRoot">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRoot">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRootResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadMultiple">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="downloadMultiple">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="downloadMultipleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getName">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getName">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="download">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="download">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="downloadResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRootWithFilter">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRootWithFilter">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRootWithFilterResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JAXWSResourcesServiceService">
    <wsdl:port name="ResourcesServicePort" binding="tns:JAXWSResourcesServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/ResourcesServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
